<!-- <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-auto border-top bg-dark">
    <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-white">{{currentYear}} Associazione Festeggiamenti Lugnano</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            <a class="text-opacity-75" href="https://www.instagram.com/associazione_lugnano/" target="_blank">
                <img width="24" height="24" src="../../../assets/Instagram_Glyph_White.svg" alt="Instagram">
            </a>
        </li>
        <li class="ms-3">
            <a class="link-body-emphasis" href="https://www.facebook.com/associazionelugnano" target="_blank">
                <img width="24" height="24" src="../../../assets/Facebook_Logo_Secondary.png" alt="Facebook">
            </a>
        </li>
    </ul>
</footer> -->

<footer class="py-3">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
            <button type="button" class="btn btn-circular btn-light">
                <a href="https://www.facebook.com/associazionelugnano" target="_blank"
                    class="d-flex align-items-center justify-content-center m-auto h-100">
                    <img width="24" height="24" src="../../../assets/images/Facebook_Logo_Black.png" alt="Facebook">
                </a>
            </button>
        </li>

        <li class="nav-item ms-3">
            <button type="button" class="btn btn-circular btn-light">
                <a class="text-opacity-75" href="https://www.instagram.com/associazione_lugnano/" target="_blank"
                    class="d-flex align-items-center justify-content-center m-auto h-100">
                    <img width="24" height="24" src="../../../assets/images/Instagram_Glyph_Black.svg" alt="Instagram">
                </a>
            </button>
        </li>
    </ul>

    <div class="d-flex flex-column _d-md-block flex-md-row justify-content-center">
        <h5 class="text-center text-body-secondary"><b>Associazione Festeggiamenti Lugnano</b></h5>
        <span class="h5 mb-0 ms-md-1 text-center text-body-secondary">{{currentYear}}</span>
    </div>

</footer>