<nav id="nav-header" class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">

        <a class="navbar-brand" href="#home" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">
            <!-- <img src="assets/img/navbar-logo.svg" alt="..." /> -->
            Associazione Festeggiamenti<br>Lugnano
        </a>

        <button class="navbar-toggler" type="button" (click)="headerCollapse.toggle()"
            [attr.aria-expanded]="!isCollapsed" aria-controls="navbarResponsive" aria-label="Toggle navigation">
            Menu
            <fa-icon [icon]="bars" class="ms-1"></fa-icon>
        </button>

        <div #headerCollapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="collapse navbar-collapse"
            id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/storia" routerLinkActive="active"
                        ariaCurrentWhenActive="page">La Storia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/madonnina" routerLinkActive="active"
                        ariaCurrentWhenActive="page">La Madonnina</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/eventi" routerLinkActive="active"
                        ariaCurrentWhenActive="page">Eventi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/sponsor" routerLinkActive="active"
                        ariaCurrentWhenActive="page">Sponsor</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/contatti" routerLinkActive="active"
                        ariaCurrentWhenActive="page">Contatti</a>
                </li> -->

                <!-- @if (isHomeLayout) { -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li> -->
                <!-- } -->

            </ul>
        </div>

    </div>
</nav>