<nav id="header-nav" class="navbar navbar-expand-md navbar-dark fixed-top bg-primary py-4">
    <div class="container-fluid container-lg">
        <a class="navbar-brand" href="#">Associazione Festeggiamenti
            Lugnano</a>

        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" [ngbCollapse]="!isMenuCollapsed">
            <ul ngbNav [(activeId)]="active" class="navbar-nav ms-auto mb-2 mb-md-0">
                <li [ngbNavItem]="1">
                    <a ngbNavLink (click)="scrollTop()">Home</a>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink (click)="scrollTo('storia')">La Storia</a>
                </li>
                <li [ngbNavItem]="3">
                    <a ngbNavLink (click)="scrollTo('madonnina')">La Madonnina</a>
                </li>
                <li [ngbNavItem]="4">
                    <a ngbNavLink (click)="scrollTo('eventi')">Eventi</a>
                </li>
                <li [ngbNavItem]="5">
                    <a ngbNavLink (click)="scrollTo('sponsor')">Sponsor</a>
                </li>
                <li [ngbNavItem]="6">
                    <a ngbNavLink (click)="scrollTo('contatti')">Contatti</a>
                </li>
            </ul>
        </div>

    </div>
</nav>