//
// Contact section styling
//

section#contact {
    background-color: $gray-900;

    // Darker image
    // background-image: url("/assets/img/map-image.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("/assets/img/map-image.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;

    .section-heading {
        color: $white;
        margin-bottom: 6.5rem;
    }

    form#contactForm {
        font-family: $headings-font-family;
        font-weight: $headings-font-weight;
        color: $gray-400;

        .form-group {
            margin-bottom: $grid-gutter-width;

            input,
            textarea {
                padding: 1.25rem;
            }

            input.form-control {
                height: auto;
            }
        }

        .form-group-textarea {
            height: 100%;

            textarea {
                height: 100%;
                min-height: 10rem;
            }
        }

        p.help-block {
            margin: 0;
        }

        .form-control:focus {
            border-color: $primary;
            box-shadow: none;
        }

    }
}