<section class="page-section" id="sponsor">
    <div class="container">

        <h2>Sponsor</h2>

        <div class="row">
            <div class="col-12 col-sm">
                <div class="card rounded-top-0 rounded-bottom-3 mb-3 border-0 shadow">
                    <img src="assets/img/portfolio/1.jpg" class="card-img-top rounded-top-0" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Compagnia</h5>
                        <p class="card-text">Descrizione 2024</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm">
                <div class="card rounded-top-0 rounded-bottom-3 mb-3 border-0 shadow">
                    <img src="assets/img/portfolio/2.jpg" class="card-img-top rounded-top-0" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Compagnia</h5>
                        <p class="card-text">Descrizione 2024</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm">
                <div class="card rounded-top-0 rounded-bottom-3 mb-3 border-0 shadow">
                    <img src="assets/img/portfolio/3.jpg" class="card-img-top rounded-top-0" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Compagnia</h5>
                        <p class="card-text">Descrizione 2024</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

        <p>Bresciana, classe 1974, Cristina Fogazzi è conosciuta ai più come L’Estetista Cinica. Con un percorso di
            studi classici, una comprovata esperienza nell’ambito del beauty e una buona dose di cinismo, ha dato vita a
            quella che oggi e una delle start up di maggiore successo in Italia. Skincare e trattamenti per il corpo
            firmati VeraLab spopolano in rete sull’e-commerce veralab.it, nei corner presso La Rinascente e nel
            flagshipstore milanese, per un fatturato totale di 28 milioni di euro.
            <br><br>
            Tutto è iniziato nel 2009 con l’apertura del suo centro estetico BellaVera a Milano; nel 2012 con il primo
            post su Facebook è nato il blog estetistacinica.it e il successo è stato immediato; nel 2015 è stata la
            volta dell’e-commerce e nel 2019 ha aperto i suoi corner shop presso i luxury store e a seguire il primo
            shop monomarca.
            <br><br>
            Oggi, intrecciando perfettamente business online e offline, conta più di 500mila follower su Instagram e
            oltre 200mila su Facebook, oltre alle appassionate che la seguono su You Tube.
            <br><br>
            Nel 2016 ha scritto a quattro mani con il dottor Motta, il libro Guida cinica alla cellulite edito da
            Mondadori. E poco dopo ha iniziato a condurre una rubrica nel programma Detto Fatto in onda su Rai 2.
            Appassionata di arte contemporanea, è anche un’accanita lettrice di David Foster Wallace.
        </p>

    </div>
</section>