<section class="page-section" id="sponsor">
    <div class="container">

        <h2>Sponsor</h2>

        <div class="row">
            <div class="col-12 col-sm">
                <div class="card rounded-top-0 rounded-bottom-3 mb-3 border-0 shadow">
                    <img src="assets/img/portfolio/1.jpg" class="card-img-top rounded-top-0" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Compagnia</h5>
                        <p class="card-text">Descrizione 2024</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm">
                <div class="card rounded-top-0 rounded-bottom-3 mb-3 border-0 shadow">
                    <img src="assets/img/portfolio/2.jpg" class="card-img-top rounded-top-0" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Compagnia</h5>
                        <p class="card-text">Descrizione 2024</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm">
                <div class="card rounded-top-0 rounded-bottom-3 mb-3 border-0 shadow">
                    <img src="assets/img/portfolio/3.jpg" class="card-img-top rounded-top-0" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Compagnia</h5>
                        <p class="card-text">Descrizione 2024</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>