<!-- Team-->
<section class="page-section" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">L'associazione</h2>
            <p class="_section-subheading text-muted">È grazie all'Associazione Festeggiamenti Lugnano che i due paesi
                Lugnano e Coccodrillo continuano a splendere di luce propria, per l'amore e la passione che i nostri
                soci impiegano soprattutto nel periodo di festa. Famosa è assai la Sagra Degli Spiedini alla Pecorara,
                di cui si possono vantare ben 43 eventi. È da quasi cinquant'anni, infatti, che gli abitanti di Lugnano
                e Coccodrillo si radunano per creare un'atmosfera di energia e divertimento che riesce a coinvolgere non
                solo gli abitanti dei paesi stessi, ma desta la curiosità di molti al di fuori del Lazio e dei paesi
                della Sabina. Una tradizione che speriamo non verrà mai a mancare, soprattutto dopo i difficili anni di
                fermo dovuti al Covid-19, che ha rallentato l'economia dell'Italia intera. Realizzato nel cuore del
                Paese, lo spiedino di Lugnano ha un sapore unico, realizzato dagli abitanti di Lugnano e Coccodrillo con
                amore e dedizione. Non possiamo dirvi altro se non di venirlo ad assaggiare... vi aspettiamo!</p>
        </div>

        <ul id="associazione-gallery" class="image-gallery p-3 m-3 rounded" style="background: #cfe2ff;">
            @for (associationImg of associationImages; track associationImg; let i = $index) {
            <li>
                <a class="thumbnail" attr.data-pswp-width="{{associationImg.width}}"
                    attr.data-pswp-height="{{associationImg.height}}" [href]="associationImg.src" target="_blank">
                    <img [src]="associationImg.src" alt="..." />
                </a>
            </li>
            }
        </ul>

        <div class="d-flex flex-column mt-4 mb-2">
            <div class="align-self-center align-self-md-end mb-3">
                <p class="large text-muted">Tutto questo non sarebbe possibile senza di loro!</p>
            </div>


            <div class="d-flex flex-column flex-md-row mt-md-0 justify-content-center justify-content-md-end">
                <div class="team-member me-md-5">
                    <img class="mx-auto rounded-circle" src="assets/img/team/Giancarlo.jpg" alt="..." />
                    <h4>Giancarlo Gianni</h4>
                    <p class="text-muted">Presidente</p>
                    <a href="tel:+393492858452" class="text-muted">349 285 8452</a>
                </div>

                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/Greta.jpg" alt="..." />
                    <h4>Greta Di Gravio</h4>
                    <p class="text-muted">Vice Presidente</p>
                    <a href="tel:+393393531338" class="text-muted">339 353 1338</a>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- About TODO -->
<!-- <section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg"
                        alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2009-2011</h4>
                        <h4 class="subheading">Our Humble Beginnings</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
                            voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero
                            unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg"
                        alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>March 2011</h4>
                        <h4 class="subheading">An Agency is Born</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
                            voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero
                            unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg"
                        alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>December 2015</h4>
                        <h4 class="subheading">Transition to Full Service</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
                            voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero
                            unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg"
                        alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>July 2020</h4>
                        <h4 class="subheading">Phase Two Expansion</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
                            voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero
                            unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section> -->




<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Inviaci un messaggio</h2>
        </div>

        <form id="contactForm" [formGroup]="contactForm" (submit)="onSubmit()" class="needs-validation" novalidate>
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input id="floatingName" type="text" (focus)="validate($event, true)" (blur)="validate($event)"
                            class="form-control" placeholder="Nome*" formControlName="name" required>
                        <label for="floatingName">Nome*</label>
                        <div class="invalid-feedback">Inserire un nome</div>
                    </div>

                    <!-- Email address input-->
                    <div class="form-floating mb-3 mb-md-0">
                        <input id="floatingEmail" type="email" (focus)="validate($event, true)"
                            (blur)="validate($event)" class="form-control" placeholder="Email*" formControlName="email"
                            required>
                        <label for="floatingEmail">Email*</label>
                        <div class="invalid-feedback">Inserire una email</div>
                    </div>
                </div>

                <div class="col-md-6">
                    <!-- Message input -->
                    <div class="form-floating">
                        <textarea id="floatingTextarea" class="form-control" placeholder="Il tuo messaggio"
                            formControlName="message" style="height: 12rem"></textarea>
                        <label for="floatingTextarea">Il tuo messaggio</label>
                        <div class="invalid-feedback">Inserire un messaggio</div>
                    </div>
                </div>
            </div>

            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center text-white mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                    To activate this form, sign up at
                    <br />
                    <a
                        href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                </div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage">
                <div class="text-center text-danger mb-3">Error sending message!</div>
            </div>

            <!-- Submit Button-->
            <div class="text-center">
                <button class="btn btn-primary btn-xl text-uppercase" type="submit"
                    [disabled]="!contactForm.controls.name.value || !contactForm.controls.email.value || !contactForm.controls.message.value">
                    Invia
                </button>
            </div>
        </form>
    </div>
</section>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script> -->