<section class="page-section" id="storia">
    <div id="storia-gallery" class="container">

        <h2>La Storia</h2>

        <p>
            Lugnano è un piccolo, ma “grande e prezioso" centro della periferia di Rieti, che vanta un'indimenticabile
            tradizione storica ed una ricchezza artistica tra le più importanti della Sabina. Questo paese è una delle
            ultime testimonianze degli antichi castelli e feudi sabinesi. Le sue origini vanno fatte risalire al VI
            secolo d.C., ma ebbe il massimo splendore nel basso Medioevo. Costruito su roccia viva di un colle aereo
            alle pendici di Terminillo, Lugnano è stato fondato dalle tribù formate dai superstiti dell'antica città di
            Vazia. Il primo nome fu Lucinae Fanum, dal tempio sacro alla dea Juno Lucina che sorgeva su quel monte; in
            secondo tempo fu chiamato Unianus, per l'aggregazione dei profughi dell'antica Vazia che si erano riuniti
            per formare il nuovo centro abitato (così si legge nello stemma, che si trova impresso nell'antica Chiesa
            Badiale di S. Croce).
        </p>


        <w-image-row [firstImage]="{src: 'assets/img/storia/storia_1.jpg', heigth: '1200', width: '1600'}"
            [secondImage]="{src: 'assets/img/storia/storia_2.jpg', heigth: '720', width: '960'}"></w-image-row>


        <p data-aos="fade-up" data-aos-duration="1000">
            Al tempo di Arrigo III (1048) il Castello di Lugnano fu ammesso all'Abbazia di Farfa.
            Nel 1252 Lugnano, insieme ai vicini Lisciano, S.Rufina e Cantalice, è annesso al regno di Napoli. Lugnano,
            unitamente a Lisciano, Categne, Petescia e Cantalice, collaborò per costruire nel 1309 il secondo quartiere,
            quello di S. Croce della nuova città angioina di Cittaducale, fondato da Carlo d’Angiò. Nelle sue
            intenzioni, il nuovo centro doveva diventare capoluogo della provincia circostante. A Cittaducale vennero
            fatte confluire quindi le famiglie più importanti del territorio sabino ed una di queste famiglie, quella
            dei Quirini, proveniva da Lugnano. I nobili Quirini abitarono a Cittaducale per una cinquantina d’anni,
            finchè, nel 1363, un’epidemia di peste non li costrinse a ritirarsi nuovamente nella natìa Lugnano, ed è
            probabile che siano stati proprio loro a portare nel paese la deliziosa statuetta della Madonnina del Fiore.
            Intanto nella parte alta di Lugnano fu costruito il Convento di S. Rocco, meta tutt’ora di tantissimi
            escursionisti e gite scolastiche: dal convento si possono ammirare i bellissimi paesi Lugnano e Coccodrillo,
            suo vicino e amico da sempre, e la vasta piana reatina. Sul Colle San Rocco, in posizione dominante il paese
            e la vallata, rimangono i resti del convento indicato con lo stesso nome. Il convento è ormai distrutto e
            rimangono solo alcuni poderosi archi a fare da quinta scenografica alla montagna, visibili anche da molto
            lontano. Poco più in alto rimangono in piedi le mura di cinta della chiesa.
        </p>


        <w-image-row [firstImage]="{src: 'assets/img/storia/storia_3.jpg', heigth: '1367', width: '1367'}"
            [secondImage]="{src: 'assets/img/storia/storia_4.jpg', heigth: '1756', width: '1404'}"
            normalizeHeightClass="sm"></w-image-row>


        <p data-aos="fade-up" data-aos-duration="1000">
            Nel 1630 Lugnano si distaccò dall’unione con Cittaducale; per la sua posizione controllava la montagna con i
            suoi grandi pascoli che,
            dati in affitto, costituivano una delle principali entrate della comunità; grandi greggi di pecore al
            pascolo, per migliaia di capi, assieme a mandrie di bovini e cavalli, costituivano un ingente patrimonio che
            la presenza del confine statale permetteva di moltiplicare e monetizzare grazie alla possibilità di
            esportare nello Stato pontificio i prodotti dell’allevamento. Questa fioritura economica sembra però
            arrestarsi nel Seicento, anche per le condizioni generali della penisola italiana, aggravate dall’esasperato
            fiscalismo dei Vicerè spagnoli e dalla ripresa in grande stile del banditismo, che s’appoggiava ai potentati
            politici dell’epoca. Nel 1703 la crisi venne aggravata ulteriormente dal terremoto per poi continuare nel
            1799 col ritorno della guerra. Il Regno si trasformò in Repubblica Partenopea, le truppe della Francia
            rivoluzionaria cominciarono ad occupare Rieti. Tutta la montagna iniziò a ribellarsi al nuovo regime fino a
            quando, in seguito ad una rappresaglia contro i paesi sul confine, Lugnano riuscì a resistere al saccheggio
            e al fuoco.
        </p>


        <w-image-row [firstImage]="{src: 'assets/img/storia/storia_5.jpg', heigth: '633', width: '843'}"
            [secondImage]="{src: 'assets/img/storia/storia_6.jpg', heigth: '720', width: '960'}"></w-image-row>


        <p data-aos="fade-up" data-aos-duration="1000">
            Nel 1928 il vecchio comune di Lugnano di Villa Troiana venne assorbito da quello di Rieti,
            perdendo l’autogoverno. Solo trent’anni dopo, nel 1958, con la costruzione dell’Amministrazione Separata dei
            Beni Civici di Vazia, il territorio riuscì a recuperare l’autonomia riguardo ai beni e agli usi civici. La
            prova che Lugnano abbia raggiunto la massima espansione nel 1300 la si può trovare visitando i Musei
            Vaticani: nella galleria dove sono dipinte le antiche regioni d' Italia, osservando la regione Sabina, si
            possono ammirare accanto alle torri e alle mura di Rieti e Cittaducale, anche quelle di Lugnano. Si dice che
            proprio in questo periodo Carlo D'Angiò, di ritorno dalla Francia, visitando il feudo di Lugnano regalò alla
            popolazione la statuina della "Madonna del Fiore": si tratta di scultura in avorio ricavata da una zanna di
            elefante, raffigurante la Vergine con il Bambino ed un fiore nella mano: è opera di uno scultore anonimo
            della scuola francese del XIII secolo. Ne esistono solamente tre esemplari al mondo: uno si trova a Parigi,
            uno a Pisa e uno a Lugnano. La scultura è conservata nella Chiesa di S. Maria in Categne, amore e orgoglio
            degli abitanti di Lugnano e Coccodrillo.
        </p>


        <w-image-row [firstImage]="{src: 'assets/img/storia/storia_7.jpg', heigth: '1600', width: '1199'}"
            [secondImage]="{src: 'assets/img/storia/storia_8.jpg', heigth: '960', width: '960'}"
            normalizeHeightClass="sm"></w-image-row>


        <p data-aos="fade-up" data-aos-duration="1000">
            A Lugnano, al tempo del suo splendore, sorgevano quattro chiese:
            S. Croce, S. Maria, S. Maria della Misericordia (detta dal volgo di Categne) e quella di S. Giovanni
            Battista. Di recente è stato rivalutato il Santuario della Madonna, al quale è stato intitolato un Concorso
            Artistico-Letterario che, nell’intenzione degli organizzatori, dovrebbe favorire un incremento della
            devozione popolare ed uno sviluppo turistico del paese.
        </p>


        <w-image-row [firstImage]="{src: 'assets/img/storia/storia_9.jpg', heigth: '1618', width: '1493'}"
            [secondImage]="{src: 'assets/img/storia/storia_9.jpg', heigth: '1618', width: '1493'}"
            [isLast]="true"></w-image-row>


    </div>
</section>