<section class="storia-section" id="storia">
    <div class="container">

        <h2>La Storia</h2>

        <p>Pico (Piattaforma Integrata Commerciale), in vista dell'orario estivo, ha definitivamente soppiantato SIPAX
            sul sito di Trenitalia (non ancora su fsitaliane.it per il mancato completamento di alcuni componenti per la
            gestione dei notturni, delle info sui regionali, delle agenzie web e altre funzioni minori). L'aspettativa
            dell'azienda è di riuscire ad estenderlo a tutti i terminali entro il 2013, nonostante i numerosi rinvii dei
            mesi scorsi.
            <br><br>
            Qualche info da IBM, a cui è andato l'appalto per sviluppo/adeguamento software, server farm, ecc ecc...
            IBM sta sostituendo il sistema di biglietteria e prenotazioni con una nuova piattaforma integrata (Pico),
            innovativa per flessibilità e in grado di ridurre i costi di manutenzione e di aggiornamento. Usando il
            modulo Sales Management System (ILOG), il personale della Dir. Sales & Marketing di Trenitalia può creare e
            modificare le varie offerte ed i loro prezzi, seguendo gli andamenti del mercato in termini di domanda,
            disponibilità, stagionalità, giorni della settimana, festività, ecc.
            <br>
            Il sistema analizza i parametri impostati dal marketing usandoli come filtro per applicare la migliore
            offerta secondo le preferenze del viaggiatore (orario richiesto, giorno della settimana, stagione, profilo
            del cliente, treno scelto, ecc.). L’utente può chiedere informazioni su un viaggio, prenotarlo e pagarlo
            attraverso la modalità che preferisce, incluso i dispositivi mobili.
            <br><br>
            Pico è stato sviluppato da IBM per Trenitalia usando software IBM come WebSphere, ILOG, DB2, MQ, ecc. ed è
            completamente integrato con le altre applicazioni del cliente. La soluzione è ospitata nell’IBM Data Center
            di Pero (Milano).
            Più info su ftp://ftp.software.ibm.com/software/it/ ... italia.pdf
            <br><br>
            Top
            Avatar utentesr
            ***
            ***
            Messaggi: 13408
            Iscritto il: mar 25 mag 2004 14:39
            Località: milano (a est del Lambro Meridionale e a ovest della roggia Ticinello)
            Re: Pico (Piattaforma Integrata Commerciale) di Trenitalia s
            #2 Messaggio da sr » mar 22 mag 2012 15:51
            <br><br>

            Io so già come verrà soprannominato questo sistema dai FOL-li al primo riscontro di malfunzionamenti. :roll:

            (ogni riferimento all'epiteto molto in voga tra duo svacco e FOL-li storici è puramente ... voluto!)
            :mrgreen:
            <br><br>
            CONFRATELLO DELLA LOGGIA DEL CALAMARO®
            Fondatore del CRRZFTz©
            Comitato Richiesta Relazioni Zingarate Ferroviarie Tz

            Andate in Transalp! (anche se io non ci posso più andare! :cry: )
            Top
            Avatar utenteUluruMS
            ***
            ***
            Messaggi: 17234
            Iscritto il: sab 26 apr 2008 12:41
            Località: Dal Kander al Somes, dalla Nahe al Cesano
            Re: Pico (Piattaforma Integrata Commerciale) di Trenitalia s
            #3 Messaggio da UluruMS » mar 22 mag 2012 18:29
            <br><br>
            E' difficile fare peggio di quella schifezza del sipax
            <br><br>
            🙈🙉🙊 se nel 1871 ci fosse stata la ABC di Ponti, sul Gottardo passeremmo ancora con la diligenza
            Top
            Avatar utentefurkpass
            *
            *
            Messaggi: 760
            Iscritto il: mar 15 dic 2009 12:41
            Re: Pico (Piattaforma Integrata Commerciale) di Trenitalia s
            #4 Messaggio da furkpass » mar 22 mag 2012 18:48
            <br><br>
            i primi malfunzionamenti ci sono già stati: il sistema ha regalato i biglietti per alcune ore ...
            Top
            <br><br>
            Gabry_371
            **
            **
            Messaggi: 1290
            Iscritto il: lun 07 feb 2011 15:39
            Località: Novara
            Contatta: Contatta Gabry_371
            Re: Pico (Piattaforma Integrata Commerciale) di Trenitalia s
            #5 Messaggio da Gabry_371 » mar 22 mag 2012 18:52
            <br><br>
            intanto il picio continua a mostrare la Magenta sbagliata :mrgreen: :megaball::
            <br><br>
            Top
            luque91
            **
            **
            Messaggi: 2473
            Iscritto il: lun 03 ott 2005 15:37
            Località: FL46, Km 171+571, PBA 286
            Contatta: Contatta luque91
            Re: Pico (Piattaforma Integrata Commerciale) di Trenitalia s
            #6 Messaggio da luque91 » mar 22 mag 2012 19:25
            <br><br>
            Dovendo fare dei biglietti per Roma, visto il casino che mi ha combinato Pico Picio o come si chiama
            :mrgreen:, essendo due biglietti a tariffa Mini, e un cartafrecciaday (il sottoscritto)...ho preferito
            annullare tutto ed usare il caro vecchio buggoso Sipax, il quale mi ha fatto i sei biglietti (tre andate,
            tre ritorni, cinque mini, un cartafrecciaday nel complesso) senza i casini di picio pico la. Anche se devo
            iniziare a prenderci l'abitudine...
            <br><br>
            PER MARE, PER TERRAM...SAN MARCO!
            Immagine
            No alle E.464 con gli Intercity! Si all'innovazione tecnologica
            Top
            polpi_91
            **
            **
            Messaggi: 7960
            Iscritto il: gio 22 mar 2012 20:14
            Località: Tra il 2092 e il 2097
            Re: Pico (Piattaforma Integrata Commerciale) di Trenitalia s
            #7 Messaggio da polpi_91 » mar 22 mag 2012 20:06
            <br><br>
            il simpax ha solo un problema, ha le coincidenze alla pene di segugio oppure ti fa fare dei giri della
            madonna per nulla, altrimenti secondo me è ancora meglio del Pic(i)o, almeno mi trovo molto meglio!
        </p>

    </div>
</section>