@font-face {
    font-family: lato;
    src:
        // url('prime_light-webfont.eot?#iefix') format('embedded-opentype'),
        // url('prime_light-webfont.woff') format('woff'),
        url('../../assets/fonts/Lato/Lato-Regular.ttf') format('truetype'),
        // url('prime_light-webfont.svg#primelight') format('svg')
    ;
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: roboto;
    src:
        // url('prime_light-webfont.eot?#iefix') format('embedded-opentype'),
        // url('prime_light-webfont.woff') format('woff'),
        url('../../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
        // url('prime_light-webfont.svg#primelight') format('svg')
    ;
    font-weight: normal;
    font-style: normal;

}