<section class="page-section" id="madonnina">
    <div id="madonnina-gallery" class="container">

        <!-- <h2>Madonna del Fiore</h2> -->

        <p>
            Motivo di grande orgoglio e di forte ammirazione per Lugnano e Coccodrillo è sicuramente il loro gioiello
            più grande, la Madonnina del Fiore.<br>Ne esistono solamente tre esemplari al mondo: uno si trova a Parigi,
            precisamente al Louvre, uno a Pisa e uno a Lugnano. La scultura è conservata nella Chiesa di S. Maria in
            Categne.<br>Scultura in avorio ricavata da una zanna di elefante, raffigurante la Vergine con il Bambino ed
            un
            fiore nella mano, la Madonnina del Fiore di Lugnano è opera di uno scultore anonimo della scuola francese
            del XIII secolo.
        </p>

        <w-image-row [firstImage]="{src: 'assets/img/madonnina/madonnina_1.jpg', height: '2048', width: '1536'}"
            [secondImage]="{src: 'assets/img/madonnina/madonnina_2.jpg', height: '1500', width: '1000'}"
            normalizeHeightClass="lg"></w-image-row>

        <p data-aos="fade-up" data-aos-duration="1000">
            Nel 1988 è stata introdotta la processione: questa nuova iniziativa registrò sin da subito
            una partecipazione notevole da parte degli abitanti e anche di persone provenienti da località diverse dal
            territorio reatino; una vera e propria tradizione ormai, che accompagna gli abitanti di Lugnano e
            Coccodrillo ogni prima domenica di settembre, la “Festa della Madonna del Fiore”.<br>Riprendendo uno
            stralcio da una tesi di Laurea della Prof.ssa D.Devoti ed il Prof. E. Castelnuovo: “Verso la fine del
            Duecento,
            Parigi si impone quale centro di una produzione artistica estremamente raffinata: quella dell’intaglio in
            avorio. Dal prezioso materiale gli artigiani francesi ricavavano oggetti di meravigliosa eleganza formale e
            di notevole pregio: pettini, scacchiere e, soprattutto, statuette a carattere religioso raffiguranti per lo
            più la Vergine ed il Bambino, impegnati in un affettuoso colloquio fatto di sguardi e di gesti. Tali
            statuette andavano, poi, ad ornare gli altari di tutta Europa: se ne conservano deliziosi esemplari anche in
            Italia.
        </p>

        <w-image-row [firstImage]="{src: 'assets/img/madonnina/madonnina_3.jpg', height: '960', width: '720'}"
            [secondImage]="{src: 'assets/img/madonnina/madonnina_4.jpg', height: '1500', width: '1000'}"
            normalizeHeightClass="lg"></w-image-row>

        <p data-aos="fade-up" data-aos-duration="1000">
            Sono pochissime, però, le opere del genere che ancora oggi i fedeli possono venerare e gli amatori
            d’arte contemplare nelle antiche ed originarie collocazioni; una delle rare eccezioni è rappresentata dalla
            Madonna con Bambino, custodita tuttora nella Chiesa Parrocchiale di S.Maria in Categne a Lugnano, un paese
            della Sabina nelle immediate vicinanze di Rieti. L’estrema raffinatezza dell’esecuzione, le dimensioni
            affatto consuete, l’interessante vicenda storica che ad essa è legata, rendono senza dubbio la statuetta di
            Lugnano uno degli esemplari più notevoli dell’arte dell’avorio di epoca medievale. La Vergine di Lugnano
            sovrasta decisamente anche la nota Madonna con Bambino del Duomo di Pisa, con i suoi 57cm, distaccando di
            gran lunga le altre statuette eburnee di fine '200. Oltre alle dimensioni, è rimarchevole l’altissimo
            livello qualitativo che manifesta nell’esecuzione della Madonna Lugnanese.
        </p>

        <w-image-row [firstImage]="{src: 'assets/img/madonnina/madonnina_5.jpg', height: '1000', width: '1500'}"
            [secondImage]="{src: 'assets/img/madonnina/madonnina_6.jpg', height: '1000', width: '1500'}"></w-image-row>


        <p data-aos="fade-up" data-aos-duration="1000">
            La statuetta doveva essere ravvivata all’origine da una elegante policromia, i cui resti sono ancora
            evidenti soprattutto sull’orlo
            delle vesti ed alla estremità del manto, dove corre un sottile fregio di gigli in oro. L’espressione
            graziosamente sorridente della Madre, il modo di acconciare il velo ai lati della sua testa, le ciocche dei
            capelli che dal velo emergono con caratteristica ondulazione, il panneggio del manto sul fianco sinistro con
            la profonda piega triangolare seccamente delineata, la nobiltà dei volti di Maria e del Bambino, la
            composta, contenuta affettuosità degli atti, accomunano decisamente il nostro avorio al gruppo delle
            cosiddette Vergini Aristocratiche, generalmente ritenute opere di artisti parigini dell’ultimo quarto del
            Duecento. La statuetta laziale è a tutti gli effetti degna di figurare accanto ai capolavori riconosciuti di
            questo gruppo: la Madonna con Bambino di “Sainte-Chanelle”, oggi al museo del Louvre a Parigi.”<br>La storia
            della Madonnina del Fiore è strettamente correlata con quella di Lugnano e con il ritorno dei Quirini a
            Lugnano dopo la peste del 1300 circa.<br>La Madonnina viene definita da un documento seicentesco come “una
            miracolosa statuetta della Beata Vergine Maria, cavata da un dente d’elefante da celebre maestro francese,
            dalla chiesa di S.Cecilia in Civita Ducale che fu portata a Lugnano dalla nobile famiglia Quirini quando,
            durante la peste del 1363, essa si ritirò in questo castello”.<br>Sebbene la sua presenza in un piccolo
            paese di montagna abbia sempre creato stupore, la statuetta in avorio è un oggetto raro e prezioso per
            materiale e
            fattura, appartenente ad un genere di manufatti prodotti per le classi più alte della società.<br>A
            prescindere dalla sua provenienza, la Madonna del Fiore costituisce un tesoro prezioso per gli abitanti di
            Lugnano e Coccodrillo, nella speranza di un sempre più continuo interesse e amore per la propria terra e per
            ciò che sin dall’antichità è stato coltivato con amore e passione.
        </p>

        <w-image-row [firstImage]="{src: 'assets/img/madonnina/madonnina_7.jpg', height: '1000', width: '1500'}"
            [secondImage]="{src: 'assets/img/madonnina/madonnina_8.jpg', height: '1000', width: '1500'}"></w-image-row>

        <p data-aos="fade-up" data-aos-duration="1000">
            La Chiesa di S. Maria in Categne conserva inoltre il pregevole organo appena restaurato dal M°. organaro
            Barthèlèmy Formentelli di Verona. Sullo strumento mancano purtroppo notizie d’archivio: risulta quindi
            prezioso il giudizio del suo restauratore, che lo ritiene d’origine seicentesca, attribuibile a Luca Neri,
            organaro di Leonessa, poi rielaborato nel secolo successivo, restaurato “dai fondamenti” nel 1864 da Ottavio
            Fedeli della Rocchetta, che ha lasciato nome e data sullo strumento.<br>La Parrocchia di Lugnano, insieme a
            quella di Lisciano, Madonna del Passo e Castelfranco sono riunite nell’unica Parrocchia di S.Maria delle
            Grazie di Vazia.
        </p>

        <w-image-row [firstImage]="{src: 'assets/img/madonnina/madonnina_9.jpg', height: '1000', width: '1500'}"
            [secondImage]="{src: 'assets/img/madonnina/madonnina_10.jpg', height: '1000', width: '1500'}"
            [isLast]="true"></w-image-row>

    </div>
</section>