<section class="page-section" id="madonnina">
    <div class="container">

        <h2>La Madonnina</h2>

        <p>Ferrovie dello Stato Italiane e IBM rafforzano la propria collaborazione con un nuovo progetto che migliora
            la customer experience dei viaggiatori tramite soluzioni di intelligenza artificiale.
            <br><br>
            Grazie alla nuova piattaforma cognitiva basata su cloud, FS Italiane sarà in grado di fornire alle persone
            servizi di assistenza, ventiquattro ore al giorno, con contenuti e consigli in base alle proprie abitudini e
            preferenze. Tramite un linguaggio naturale, un assistente virtuale proporrà agli utenti offerte predefinite,
            velocizzando e semplificando la scelta, l’acquisto e la pianificazione dell’itinerario.
            <br><br>
            Questa soluzione innovativa offrirà alle persone un'esperienza di viaggio digitale integrata e permetterà
            agli operatori di FS Italiane di essere costantemente aggiornati sui servizi erogati e di rispondere in
            tempo reale alle eventuali necessità.
            <br><br>
            «Cerchiamo di offrire ai nostri clienti un'esperienza di viaggio di altissimo livello», ha sottolineato
            Gianluigi Castelli, Presidente del Gruppo FS Italiane. «L'azienda ha pianificato di investire 6 miliardi di
            euro in tecnologia nel Piano industriale 2019-2023 per consentire una trasformazione digitale dei nostri
            business. Stiamo studiando in particolare come le soluzioni all'avanguardia possano offrire esperienze di
            viaggio personalizzate ai nostri clienti, che sono sempre più alla ricerca di viaggi integrati, senza
            soluzione di continuità e con consigli di viaggio su misura».
            <br><br>
            «Le tecnologie esponenziali oggi a nostra disposizione − afferma Enrico Cereda, Presidente e AD di IBM
            Italia − permettono ad aziende lungimiranti come FS Italiane di ampliare e migliorare i loro modelli di
            business, offrendo ai loro clienti servizi sempre più evoluti. La digital reinvention sostenuta dalle
            potenzialità dell'intelligenza artificiale e del cloud, offre grandi opportunità all'Italia per crescere in
            termini di efficienza e produttività. FS Italiane sta cogliendo queste opportunità, proseguendo il suo
            percorso innovativo per sé e per il Paese».

        </p>

    </div>
</section>