<section class="page-section" id="eventi">
    <div class="container">

        <h2>Eventi</h2>

        <p>Mi chiamo Carlotta e nel 2018 ho fondato Cucina Botanica.
            <br><br>
            Ho sempre amato la cucina e le piante, e dall’inizio di questo progetto ho voluto creare e condividere
            ricette semplici e vegetali, per aiutare chi mi stava intorno a cucinare piatti più sani, ma allo stesso
            tempo gustosi e dall’aspetto molto appetibile.
            <br><br>
            Con Cucina Botanica aiuto le persone a scoprire il mondo della cucina vegetale: su questo sito troverai
            spiegazioni semplici riguardanti l’alimentazione, video informativi e ricette deliziose, create con
            ingredienti sani e naturali come cereali, verdure, legumi, frutta, semi, frutta secca.
            <br><br>
            In passato ho
            lavorato nella moda, ed ero abbastanza infelice e stressata. Ma allo stesso tempo avevo molta paura di
            cambiare strada, come spesso succede. Un giorno, dopo una grossa presa di coraggio, ho deciso di volare fino
            a Los Angeles, dove ho studiato cucina vegetale e nutrizione. Ho poi lavorato come assistente per Plantlab,
            una scuola di cucina vegetale che mi ha accolta nel suo team, facendomi diventare, alla fine, insegnante di
            cucina vegetale, portandomi in giro per il mondo in una meravigliosa avventura.
        </p>

    </div>
</section>