w-eventi {
    .img-current-event {
        max-height: 40rem;
    }

    .carousel- {
        &size {
            @include media-breakpoint-up(sm) {
                height: 40rem;
                width: 29rem;
            }
        }

        &image {
            max-height: 40rem;
        }
    }

    .video {
        aspect-ratio: 16 / 9;
        width: 100%;
    }
}